@font-face {
  font-family: 'Tesla';
  src: url('../fonts/tesla/teslac619.html?v=1.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: Tesla;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}